/shelf/
*/workspace.xml
*/libraries/
.idea/

### maven ###
target/

### gradle ###
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Gradle project cache
.gradletasknamecache


### misc ###
/lmc_*
/.idea/uiDesigner.xml
/hs_err_*
